html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Navbar Hamburger Start */


.drawerSocialIcon img {
  filter: brightness(0%) contrast(185%);
  -webkit-filter: brightness(0%) contrast(185%);
  -moz-filter: brightness(0%) contrast(185%);
}





/* Navbar Hamburger Stop */

/* Footer Start */


.footer .chakra-tabs .chakra-tabs__tab[aria-selected=true] {
  color:#fff;
}
.footer .chakra-tabs .chakra-tabs__tab[aria-selected=false] {
  color:#FFDE11;
}
.footer .chakra-tabs .chakra-tabs__tab:focus {
  box-shadow: none;
}

.footer .chakra-tabs__tablist {
  border-bottom: none;
}

/* Footer End */

/* Hero Banner Start */


  @media (max-width: 780px) {
    .herobanner {
      height: 60vh !important; 
    }
  }


/* Service Tab Start */

.serviceTab .chakra-tabs__tab[aria-selected=true] {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #ffde11;
}

.serviceTab .chakra-tabs__tab[aria-selected=true]:focus {
  box-shadow: none;
}


/* Service Accordian Start */


.serviceAcc .chakra-accordion__item {
  border-top-width: 0px;
}

.serviceAcc .chakra-accordion__item:last-of-type{
    border-bottom-width: 0px;
}

.serviceAcc .chakra-accordion__button {
  font-size: 35px;
  font-weight: bolder;
  justify-content: space-between;
}

.serviceAcc .chakra-accordion__button div {
  width: fit-content;
  flex: unset;
}

.serviceAcc .chakra-accordion__button[aria-expanded="true"] div {
  background: linear-gradient(to bottom,#F7F7F7 49%,#ffde11 50%,#ffde11 70%,#F7F7F7 71%,#F7F7F7 100%);
}

.serviceAcc .chakra-accordion__button:hover {
  background: none;
}

.serviceAcc .chakra-accordion__button:focus {
  box-shadow: none;
}

.serviceAcc .chakra-accordion__icon {
  background-color: #FFDE11;
  border-radius: 50%;
}





/* Global Start */
.webStrok {
-webkit-text-stroke: 2px black;
}