
.main-p {
  font-size: 18px !important;
  text-align: justify;
}

p {
  font-size: 18px !important;
}

.bannerH2 {
    font-size: 60px !important;
    font-weight: 700 !important;
}

.main-h1 {
  font-size: 60px !important;
  font-weight: 800 !important;
}

.main-h2 {
  font-size: 45px !important;
  font-weight: 800 !important;
}

.main-h3 {
  font-size: 30px !important;
  font-weight: 700 !important;

}

.main-h5 {
  font-size: 25px !important;
  font-weight: 700 !important;

}

.main-h6 {
  font-size: 20px !important;
  font-weight: 700 !important;

}

.subh5 {
  font-size: 18px !important;
}

@media (max-width: 768px) {
  .bannerH2 {
    font-size: 30px !important;
    font-weight: 700 !important;
}
  .main-h1 {
  font-size: 50px !important;
  font-weight: 800 !important;
}
  .main-h2 {
  font-size: 30px !important;
  font-weight: 800 !important;
}
  .main-h3 {
  font-size: 22px !important;
  font-weight: 700 !important;
}


.main-h5 {
  font-size: 20px !important;
  font-weight: 700 !important;
}

.main-h6 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

}

.h2404 {
  background-image: none;
    font-size: 4.5rem !important;
    font-weight: 700;
    text-shadow: 5px 4px 0px rgba(0,0,0,0.25);
    text-transform: none;
    margin: 0 222px;
}

.p404 {
  background-image: none;
    font-size: 1.3rem !important;
    font-weight: 700;
    text-shadow: 5px 4px 0px rgba(0,0,0,0.25);
    text-transform: none;
    margin: 0 222px;
}

.bnrBigHd {
  font-size: 60px !important;
}


@media (max-width: 768px) {

  
.bnrBigHd {
  font-size: 40px !important;
}
  
.h2404 {
  font-size: 40px !important;
  margin: 10px;
}
  
.p404 {
  font-size: 20px !important;
  margin: 10px;
  text-align: center;
  padding-top: 5px;
}
}

.sub-service ul li::marker {
  background: #FFDE11;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  box-shadow: none !important;
}

* {
  box-sizing: border-box;
}


/* Scroll Bar Start */

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e1e0d6;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}

/* Scroll Bar End */


/* Navbar Hamburger Start */


.drawerSocialIcon img {
  filter: brightness(0%) contrast(185%);
  -webkit-filter: brightness(0%) contrast(185%);
  -moz-filter: brightness(0%) contrast(185%);
}





/* Navbar Hamburger Stop */


/* Navbar isSticky Start */

.header-section {
  display: none;
  z-index: 999;
}

.header-section.is-sticky {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
}

/* Navbar isSticky End */

.serviceTab .chakra-tabs .chakra-tabs__tab {
  min-width: 150px;
}

/* Footer Start */


.footer .chakra-tabs .chakra-tabs__tab[aria-selected=true] {
  color:#fff;
}
.footer .chakra-tabs .chakra-tabs__tab[aria-selected=false] {
  color:#FFDE11;
}
.footer .chakra-tabs .chakra-tabs__tab:focus {
  box-shadow: none;
}

.footer .chakra-tabs__tablist {
  border-bottom: none;
}

/* Footer End */

/* Hero Banner Start */



  @media (max-width: 768px) {
    .herobanner {
      height: 60vh !important; 
    }

    .video-banner {
      max-width: unset;
      height: 500px;
      width: auto;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1500px)  {
    .video-banner {
      max-width: unset;
      width: auto;
    }
  }

    @media (min-width: 1500px) {
      .video-banner {
        max-width: unset;
        object-fit: cover;
        width: 100vw;
      }
    }


/* Service Tab Start */

.serviceTab .chakra-tabs__tab[aria-selected=true] {
  color: #000;
  font-weight: bold;
  border-bottom: 4px solid #ffde11;
  margin: 0;
}

.serviceTab .chakra-tabs__tab[aria-selected=true]:focus {
  box-shadow: none;
}


/* Service Accordian Start */


.serviceAcc .chakra-accordion__item {
  border-top-width: 0px;
}

.serviceAcc .chakra-accordion__item:last-of-type{
    border-bottom-width: 0px;
}

.serviceAcc .chakra-accordion__button {
  font-size: 35px;
  font-weight: bolder;
  justify-content: space-between;
}

.serviceAcc .chakra-accordion__button div {
  width: fit-content;
  flex: unset;
}

.serviceAcc .chakra-accordion__button[aria-expanded="true"] div {
  background: linear-gradient(to bottom,#F7F7F7 49%,#ffde11 50%,#ffde11 70%,#F7F7F7 71%,#F7F7F7 100%);
}

.serviceAcc .chakra-accordion__button:hover {
  background: none;
}

.serviceAcc .chakra-accordion__button:focus {
  box-shadow: none;
}

.serviceAcc .chakra-accordion__icon {
  background-color: #FFDE11;
  border-radius: 50%;
}



/* Contact Page */

.contact-form {
    background: black;
    border-radius: 20px;
    padding: 50px;
}

.contact-form input, .contact-form textarea {
  background: #000;
  color: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #fff;
}

.contact-form input::placeholder ,.contact-form textarea::placeholder,.contact-form .chakra-checkbox__label {
  color: #fff;
  text-transform: uppercase;
}

.contact-form input:focus ,.contact-form textarea:focus {
  box-shadow: none;

  border-bottom: 1px solid #fff;
}




/* Global Start */
.webStrok {
-webkit-text-stroke: 2px black;
}

.subHeading {
  font-size: 24px;
  font-weight: bold;
  color:#6F6F6F;
}

.servicePoint div {
  background-color: #fff;
  border-left: 15px solid #FFE962;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}


.chakra-button__group a:hover {
    text-decoration: none ;
}


body .eapps-instagram-feed a.eapps-link {
    clip-path: polygon(100% 0, 100% 100%, 100% 100%);
}

body .eapps-instagram-feed {
  bottom: -56px;
}


.ibt-box {
    background-color: #fdce1a;
    position: relative;
    z-index: 1;
    padding-top: 110px;
    padding-bottom: 110px;
}

.ibt-h2 {
  font-size: 50px !important;
  font-weight: 800;
  text-align: center;
  color: #000;
}

.servicePoint2 div {
  background-color: #fff;
    border: 2px solid #ffe962;
    border-left: 15px solid #FFE962;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
}

.cnt-rs .chakra-checkbox__control {
  box-shadow: none !important;
}
.cnt-rs .chakra-checkbox__control[data-checked] {
      background: #FFDE11 !important;
    border-color: #FFDE11 !important;
}

.VCSBox {
  cursor: pointer;
  width: 100%; height: 580px; position: relative;
}

  @media (max-width: 768px) {
    .VCSBox {
      height: 250px;
    }
    .contact-form {
    padding: 50px 20px;
}
  }


.VCSBox  .button {
  display: inline-block;
  position: relative;
      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.VCSBox path {
      fill: #FFDE11;
    stroke: none;
}
.VCSBox .button.is-play {
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.VCSBox .button.is-play .button-outer-circle {
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.VCSBox .button.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.VCSBox .button.is-play .button-icon .triangle {
  animation: fadeIn 7s ease;
}
.VCSBox .button.is-play .button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  animation: triangleStroke 3s;
  animation-timing-function: ease;
}
.VCSBox .has-scale-animation {
  animation: smallScale 3s infinite;
}
.VCSBox .has-delay-short {
  animation-delay: 0.5s;
}




.filmBox img {
  border-radius: 3px;
}


.filmBox  .button {
  display: none;
  position: absolute;
      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;

}

.filmBox:hover .button {
  display: inline-block;
}

.filmBox .bgHover {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 9;
    cursor: pointer;
}

.filmBox .bgHover:hover {
    background: #ffdf1187;
}

.filmBox path {
      fill: #FFDE11;
    stroke: none;
}
.filmBox .button.is-play {
  background-color: #fff;
  border-radius: 50%;
  width:75px;
  height: 75px;
}
.filmBox .button.is-play .button-outer-circle {
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.filmBox .button.is-play .button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.filmBox .button.is-play .button-icon .triangle {
  animation: fadeIn 7s ease;
}
.filmBox .button.is-play .button-icon .path {
  stroke-dasharray: 90;
  stroke-dashoffset: 0;
  animation: triangleStroke 3s;
  animation-timing-function: ease;
}
.filmBox .has-scale-animation {
  animation: smallScale 3s infinite;
}
.filmBox .has-delay-short {
  animation-delay: 0.5s;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes triangleStroke {
  from {
    stroke-dashoffset: 90;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-o-keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes smallScale {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}


.serviceIcon .icon {
  cursor: pointer;
}


.sub-service ol li::marker {
    color: #0e0e0e;
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 0;
    left: -47px;
}

.creative-head {
  background-image: linear-gradient(283deg,hsla(0,0%,89%,.04),hsla(0,0%,89%,.04) 30%,hsla(0,0%,51%,.04) 0,hsla(0,0%,51%,.04) 49%,rgba(31,31,31,.04) 0,rgba(31,31,31,.04)),linear-gradient(297deg,hsla(0,0%,89%,.04),hsla(0,0%,89%,.04) 20%,hsla(0,0%,51%,.04) 0,hsla(0,0%,51%,.04) 60%,rgba(31,31,31,.04) 0,rgba(31,31,31,.04)),linear-gradient(242deg,hsla(0,0%,89%,.04),hsla(0,0%,89%,.04) 29%,hsla(0,0%,51%,.04) 0,hsla(0,0%,51%,.04) 48%,rgba(31,31,31,.04) 0,rgba(31,31,31,.04)),linear-gradient(90deg,#000,#000);
}

.creative-head h3 {
  margin: 0;
  padding: 100px;
}




  
.sub-service ol {
  list-style-type: none;
  position: relative;
  margin-left: 30px;
}

.sub-service ol li {
  counter-increment: step-counter;
  margin-bottom: 20px;
}

.sub-service ol li::before {
content: counter(step-counter);
    margin-right: 5px;
    font-size: 20px;
    background-color: #fdce1a;
    color: white;
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 3px;
    position: absolute;
    left: -40px;
}


  .sub-service ol li::before {
    left: -35px;
  }


  .intrestedH2 {
    padding: 50px 0;
    text-transform: uppercase;
  }

  .intrestedH2 h2 {
    font-size: 50px;
    color: #fff;
    cursor: pointer;
  }

    .intrestedH2 h2:hover {
      color: #FFDE11;
    }


  @media (max-width: 768px) {
    .creative-head h3 {
      padding: 60px 20px;
    }
    .sub-service p {
      text-align: left;
    }
    
    .sub-service ol {
      margin-left: 30px;
    }

      .intrestedH2 h2 {
        font-size: 20px;
        text-decoration: underline;
        margin: 10px 0;
      }

      .filmBox .button.is-play {
  width:50px;
  height: 50px;
}

  }


  ul.checkmark li {
  font-size: 16px;
  margin-bottom: 1em;
  list-style-type: none;
  padding: .25em 0 0 2.5em;
  position: relative; }
  ul.checkmark li:before {
    content: " ";
    display: block;
    border: solid .8em #FFDE11;
    border-radius: .8em;
    height: 0;
    width: 0;
    position: absolute;
    left: 0.4em;
    top: 30%;
    margin-top: -.5em; }
  ul.checkmark li:after {
    content: " ";
    display: block;
    width: .3em;
    height: .6em;
    border: solid #fff;
    border-width: 0 .2em .2em 0;
    position: absolute;
    left: 1em;
    top: 40%;
    margin-top: -.2em;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }


.caseStudySwiper .swiper-pagination {
  position: relative;
  margin-top: 30px;
}

.caseStudySwiper .swiper-pagination-bullet {
  margin-bottom: 2px !important;
}

.caseStudySwiper .swiper-pagination-bullet-active {
  background: transparent;
  border: 3px solid yellow;
  width: 13px;
  height: 13px;
  margin-bottom: 0 !important;
}


.caseStudySwiper .swiper-slide {
  height: 500px;
  margin-right: 50px;
}

.caseStudySwiper .swiper-slide div {
  margin-top: 25px;
}

.webshowcase .contentBox {
    background-color: #f9f9f9;
    text-align: left;
    padding: 30px 25px 25px;
    border-radius: 0 0 5px 5px;
    position: relative;
    max-width: 350px;
}


.filmImg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 99;
    transition: 0.5s;
    transform: translate(-50%, -50%);
}

.filmImg h3 {
    color: #fdce1a;
    font-size: 100px;
    font-weight: bold;
    line-height: 1em;
}

.filmImg p {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-weight: bold;
}

.video1 {
  cursor: pointer;
}


.checkmark .ulSub {
  margin-left: 30px;
}

.checkmark .ulSub::before {
    content: "-";
    display: block;
    height: 0;
    left: 0.4em;
    top: 30%;
    margin-top: -0.5em;
    font-weight: 900;
    margin-left: -10px;
}


.newCM {
  display: flex;
  flex-wrap: wrap;
}

.newCM li {
  width: 50%;
}

.newCM .CMtop::before {
  top: 14% !important;
}

.newCM .CMtop::after {
    top: 17% !important;
}


  @media (max-width: 768px) {

    
.newCM li {
  width: 100%;
}


    .webshowcase .swiper-wrapper {
      margin-left: 12px;
    }


    .filmImg h3 {
        color: #fdce1a;
        font-size: 50px;
        font-weight: bold;
        line-height: 1em;
    }


    .filmImg p {
      padding: 10px;
    }

  }


  
  @media (max-width: 400px) {

  .headerSideBarCont {
    padding-right: 0 !important;
  }

  .headerSideBarCont .chakra-modal__body {
    padding-right: 0 !important;
  }

}


body .clientsLogoStack {
  margin-top: 0 !important;
}

.footerQuicklink a {
  display: none;
}

.taggbox a , .tb_post_modal_modal_body a {
  clip-path: polygon(50% 0%, 0% 100%, 0 100%);
}
















/* Film Production */


  .film-prd {
    background: #000;
  }

  .filmSubmit {
        background-color: #E22E46 !important;
    color: #fff !important;
    border: 0px solid #e4e4e4;
    width: 100%;
    margin-top: 10px;
  }

  .filmSubmit2 {
    margin: 0;
    display: inline-block;
    background-color: #fff !important;
    padding: 12px;
    width: auto;
    min-width: 210px;
    line-height: 1;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    color: #000 !important;
  }

  .film-prd  .formElements input{
    padding: 10px;
    border: 0px solid #e4e4e4;
    box-shadow: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: #E22E46 !important;
    margin-bottom: 20px;
    width: 100%;
    color: #fff !important;
  }
  .film-prd .formElements ::placeholder {
    color: #fff !important;
    opacity: 1; /* Firefox */
  }
  
  .film-prd .formElements :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff !important;
  }
  
  .film-prd .formElements ::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff !important;
  }
  .film-prd .formElements p{
    margin-bottom: 0 !important;
  }
  .film-prd .formElements br{
    display: none !important;
  }
  .film-prd .formElements input.SubmitBtn , 
  .film-prd .formElements input.wpcf7-submit{
    margin: 0;
    display: inline-block;
    background-color: #fff !important;
    padding: 12px;
    width: auto;
    min-width: 210px;
    line-height: 1;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    color: #000 !important;
  }
  .film-prd footer a{
      color:#fff !important;
  }
  
  .film-prd .HeaderForm .formElements input, .HeaderForm .formElements select{
      background-color: transparent !important;
      margin-bottom: 10px;
      font-size: 17px;
      padding:10px 0px;
  }
  .film-prd .HeaderForm .formElements input.wpcf7-submit{
      background-color: #E22E46 !important;
        color: #fff !important;
        border: 0px solid #e4e4e4;
        width: 100%;
        margin-top: 10px;
  }
  .film-prd .HeaderForm .formElements select option{
      background-color: #E22E46 !important;
      color:#fff !important;
  }
  .film-prd .image-title .row{
      align-items:center;
  }
  .film-prd .film-prd footer .wpcf7-not-valid-tip {
  color: #25d366;
  }
  .film-prd .film-prd input:-webkit-autofill,
.film-prd .film-prd input:-webkit-autofill:hover, 
.film-prd .film-prd input:-webkit-autofill:focus, 
.film-prd .film-prd input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(0,0,0,0.4) inset !important;
}
.film-prd .film-prd input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}
.film-prd .HeaderForm .formElements select option:checked , 
.film-prd .HeaderForm .formElements select option:hover{
    background-color:#000 !important;
}
.film-prd .film-prd input , .film-prd select{
    -webkit-appearance: none;
    -webkit-appearance: none !important;
}

  @media only screen and (max-width: 800px) {
  .film-prd .p2mainContent {
      font-size: 16px;
      margin-bottom: 15px;
    }
    .film-prd .p2HeadText {
      font-size: 20px;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
    .film-prd .cta1 {
      font-size: 20px;
    }
    .film-prd .Popup2 {
      padding: 20px;
      border-bottom:0px solid #e4e4e4 !important;
    }
    .film-prd .formElements input ,.formElements select {
      padding: 10px 10px !important;
      margin-bottom: 15px !important;
    }
}
		  
		  .film-prd .stickyBtmBtn {
			  display:none;
			  position:fixed;
			  bottom:0;
			  width:100%;
			  background:#000;
			  color:#fff;
			  justify-content: space-around;
			  z-index:99;
		  }
		  
		  .film-prd .darkHeader .stickyBtmBtn {
			  display:flex;
		  }
		  
		  .film-prd .stickyBtmBtn .SBBtn {
			  padding:10px;
			  font-size:12px;
			  color:#fff;
		  }
		  
		  .film-prd .stickyBtmBtn a {
			  text-decoration: none;
		  }
		  
		  .film-prd .stickyBtmBtn .SBWhatsapp {
			  	background-color: #25d366;
				height: auto;
				padding: 10px;
				display: flex;
				color: #fff;
				font-size: 16px;
				font-weight: 600;
		  }
		  
		  @media only screen and (max-width: 800px) {
			.film-prd .darkHeader .stickyBtmBtn {
			  display:none;
		  	}
		  }




