.hamBurger {
    display: flex;
    width: 20px;
    height: 20px;
    flex-flow: wrap-reverse;
    align-self: center;
    justify-content: right;
    margin-left: 20px;
    cursor: pointer; 
}

.hamBurger span {
    width: 100%;
    height: 3px;
    background-color: #FFDE11;
    z-index: 99;
}


@media (max-width: 780px) {
    .hamBurger {
        height: 30px;
        width: 30px;
    }

    .hamBurger span {
        height: 5px;
    }
}

.hamBurger span:nth-child(2) {
  width: 50%;
}

.sidebarCloseBtn {
    margin-top: 12px;
}

.sidebarCloseBtn:focus {
    box-shadow: none !important;
}

.sidebarCloseBtn svg {
    width: 2em;
    height: 2em;
}

.sidebarUl {
    margin-right: 20px;
    font-size: 45px;
    font-weight: bold;
}

.sidebarUl ul {
    list-style-type: none;
}

.sidebarActiveLi {
    background: linear-gradient(to bottom,#fff 49%,#ffde11 50%,#ffde11 70%,#fff 71%,#fff 100%);
    width: fit-content;
    margin-left: auto;
}

.sidebarUl li a {
    padding: 0 10px;
}

.ulDropdown {
    margin-right: 20px;
}

.ulDropdown li {
    font-size: 28px;
}

@media (max-width: 780px) {

    .ulDropdown li {
    font-size: 18px;
    }

}