.hamBurger {
    display: flex;
    width: 20px;
    height: 20px;
    flex-flow: wrap-reverse;
    align-self: center;
    justify-content: right;
    margin-left: 20px;
    cursor: pointer; 
}

.hamBurger span {
    width: 100%;
    height: 2px;
    background-color: #FFDE11;
    z-index: 99;
}

@media (max-width: 780px) {
    .hamBurger {
        height: 30px;
        width: 30px;
    }

    .hamBurger span {
        height: 5px;
    }
}

.hamBurger span:nth-child(2) {
  width: 50%;
}

.sidebarCloseBtn {
    margin-top: 12px;
}

.sidebarCloseBtn svg {
    width: 2em;
    height: 2em;
}